@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');
body {
    font-family: 'Afacad', sans-serif;
    letter-spacing: 1px;
    background-color:#164863;  
}
* {
  box-sizing: border-box; 
}

.row {
    padding: 1em;
    background: #DDF2FD;
    margin: 2rem auto 0 auto;
    max-width: 800px;
    padding: 1em;
}
.header {
    background-color:#9BBEC8;
    padding: 20px;
    text-align: center;

}
.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
    padding-bottom: 10px;
}

div#time {
    font-weight: bold;
    font-size: 1.5rem;
}
    
.column.middle {
    width: 50%;
    text-align: center;
    }

.row::after {
    content: "";
    display: table;
    clear: both;
    }
#btnclock {
    background-color: #DDF2FD;
    padding: 15px 32px;
    color: black;
    border: 1px solid #555555;
    width: 100%
    font-family: 'Afacad';
    font-size: large ;
    }

#btnclock:hover {
    background-color: #164863;
    color: #DDF2FD;
    }
#btn {
        background-color: #164863;
        padding: 15px 32px;
        color: rgb(243, 240, 240);
        border: 1px solid black;
        size: 20px;
        font-family: 'Afacad';
        font-size: large ;
      }
      
#btn:hover {
        background-color: #9BBEC8;
        color: white;
      }
img {
    width: 80%;
}

@media (max-width: 800px) { 
    .item {
      flex: 100%; 
    }
    .column.side, .column.middle {
        width: 100%;
  }
}